*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-image: url(images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    background-repeat: no-repeat;
    padding:70px 25%;
    font-family: 'Poppins', sans-serif;
}

h3{
    font-size:35px;
    color:#fff;
    padding:20px;
    text-align: center;
}

p{
    font-size:19px;
    padding:10px 20px 30px;
    text-align: center;
    line-height: 1.4rem;
    color:#fff;
}


h4 span{
    font-weight: 400;
}

form{
    background:#fff;
    padding:20px;
    border-radius: 15px;
    position: relative;
}

label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

label img{
    width:auto;
    position: absolute;
    right:20px;
    margin:15px 0 0;
}

input{
    width:100%;
    padding:10px 30px;
    font-size:15px;
    margin:25px 0 8px;
    outline:none;
    border-radius: 5px;
    border:2px solid lightgray;
}

input:active{
    border:2px solid hsl(248, 54%, 38%) 
}

h5{
    position: absolute;
    right:20px;
    color:hsl(0, 100%, 74%);
    font-size:13px;
    text-align: right;
}

label img,
h5{
    display: none;
}

.first{
    padding:16px 22px;
    margin:30px 0;
    font-size:15px;
    background:hsl(154, 59%, 51%);
    letter-spacing:.1rem;
    border-radius: 10px;
    color:#fff;
    line-height:1.7rem;
}

.second{
    font-size:15px;
    color:hsl(246, 25%, 77%);
    padding:0;
}

.second a{
    text-decoration: none;
    color:hsl(0, 100%, 74%) ;
    font-weight: 700;
}

.special{
    padding:10px 70px;
    background-color:hsl(248, 32%, 49%);
    border-radius: 10px;
    text-align: center;
    color:#fff;
    font-size: 18px;
    line-height:1.7rem;
    margin:0 0 20px;
    box-shadow:0 8px 2px 0 rgba(128, 128, 128, 0.582);
 }
 
@media screen and (max-width:500px) {
    body{
        padding:30px 20px;
    }
}

@media screen and (min-width:1000px) {
    body{
        padding:30px 20px;
    }
    article{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding:20px 40px;
    }

    article section{
        width:50%;
    }

    article .container{
        padding:0px 10px 0 50px;
        width:60%;
    }

    article .container h3{
        font-size:50px;
        width:90%;
        padding:0;
        margin:0;
        text-align: left;
    }

    article .container p{
        text-align: left;
        padding:20px 0;
        width:90%;
    }


}
